[package]
name          = "queen"
version       = "0.3.11"
license       = "MIT"
authors       = ["mitum <dangcheng@hotmail.com>"]
description   = "server"
documentation = "https://docs.rs/queen"
homepage      = "https://github.com/mitum/queen"
repository    = "https://github.com/mitum/queen"
readme        = "README.md"
keywords      = ["message-queue", "rpc", "event-emiter"]
exclude       = [
  ".gitignore",
  ".travis.yml",
  "deploy.sh",
  "test/**/*",
]
edition       = "2018"
autobins      = false

[dependencies]
nson = "0.2"
queen-io = "0.3"
serde = "1.0"
serde_derive = "1.0"
libc = "0.2"
log = "0.4"
queen-log = { path = "../queen-log" }

[[bin]]
name = "queen"
path = "src/main.rs"

[[test]]
name = "test"
path = "test/mod.rs"
